
.site{
@extend %flex-column; 
height: 100%; 
}

header{
	background: $firm;

}
section{
@extend %item-block;
width: 100%;


}
article{
	margin: $m;
}

footer{
	background: $opaque;
	color: $bare; 
	padding: $m;

}