/*Variables*/

/*Units*/

$font-base:16;

$s: 1rem; 
$m: 1.5rem; 
$l: 2rem; 
$xl: 2.5rem; 

/*Colors*/

$firm: #f4b408;
$secondary: #c3ae7b;

$contrast:#fff;
$bare: #e7e8e7;
$pale: #ccc;
$neutral: #666;

$dark: #333;
$opaque: #222;
$opaquer: #111;
$sharp: #000;